*{
	margin: 0;
	padding: 0;
	
}
#Title2{
	
}
#Title1{
	
}
.modelone{
	position: relative;
	width: 100%;
	height: 150px;
}
.modeltwo{
	position: relative;
	width: 90%;
	height: 400px;
	background-color: white;
	margin: 50px auto;
}
.modelthree{
	position: absolute;
	width: 3%;
	height: 90%;
	top:5%;
	left:2%;
	display: flex;
    justify-content: center;
    align-items: center;
	
}
.a1{
	position:absolute;
	width:5%;
	height: 15%;
	left:7%;
	top:15%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a2{
	position: absolute;
	top:10%;
	left:15%;
	width: 25%;
	height:30%;
}
.a3{
	position:absolute;
	width:6%;
	height: 15%;
	left:47%;
	top:15%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a4{
	position: absolute;
	top:10%;
	left:56%;
	width: 28%;
	height:30%;
}
.a5{
	position:absolute;
	width:5%;
	height: 15%;
	left:7%;
	top:54%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a6{
	position:absolute;
	width:5%;
	height: 15%;
	left:7%;
	top:62%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a7{
	position: absolute;
	top:52%;
	left:15%;
	width: 30%;
	height:30%;
}
.a8{
	position:absolute;
	width:6%;
	height: 15%;
	left:47%;
	top:54%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a9{
	position:absolute;
	width:6%;
	height: 15%;
	left:47%;
	top:62%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a10{
	position: absolute;
	top:52%;
	left:56%;
	width: 38%;
	height:30%;
}
.a11{
	position:absolute;
	width:7%;
	height: 15%;
	left:7%;
	top:13%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a12{
	position:absolute;
	width:7%;
	height: 15%;
	left:7%;
	top:20%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a13{
	position: absolute;
	top:10%;
	left:15%;
	width: 25%;
	height:30%;
}
.a14{
	position:absolute;
	width:7%;
	height: 15%;
	left:45%;
	top:13%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a15{
	position:absolute;
	width:7%;
	height: 15%;
	left:45%;
	top:20%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a16{
	position: absolute;
	top:10%;
	left:55%;
	width: 38%;
	height:30%;
}
.a17{
	position:absolute;
	width:7%;
	height: 15%;
	left:7%;
	top:54%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a18{
	position:absolute;
	width:7%;
	height: 15%;
	left:7%;
	top:62%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a19{
	position: absolute;
	top:52%;
	left:15%;
	width: 25%;
	height:30%;
}
.a20{
	position:absolute;
	width:7%;
	height: 15%;
	left:45%;
	top:54%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a21{
	position:absolute;
	width:7%;
	height: 15%;
	left:45%;
	top:62%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.a22{
	position: absolute;
	top:52%;
	left:55%;
	width: 38%;
	height:30%;
}
.a23{
	position: absolute;
	top:20%;
	left:10%;
	width: 40%;
	
}
.a24{
	position: absolute;
	top:20%;
	left:55%;
	width: 40%;
}
#fix1{
	text-align: center;
	font-size: 39px;
}
#fix2{
	font-size: 27px;
	color: blue;
}
#fix3{
	font-size: 32px;
	color:blue;
}
#fix4{
	font-size:23px;
	color:blue;
}
#fix5{
	font-size:28px;
	color:blue;
}
#modelfour{
	position: relative;
	width: 1300px;
	height: 600px;
	margin: 50px auto;
	
}

/*图前面的小点和箭头去掉*/
#modelfour ul{
	list-style: none;
}

/*将图片都叠加到一块(布局)*/
#modelfour .modelfive li{
	position: absolute;/*所有图片居中集合*/
	display: none;
}
/*当前活动图的展示*/
#modelfour .modelfive li.modelsix{
	display: block;
}

/*左右按钮的布局*/
#modelfour .modelseven li{
	position: absolute;
	top: 50%;/*垂直布局*/
	margin-top: -40px;/*相对居中*/
	width:40px ;
	height: 80px;
	background-color: white;/*背景色*/
	opacity: 0.5;/*透明度*/
	
	line-height: 80px;/*小箭头垂直居中，行高设置与按钮同高就可以*/
	
}
#modelfour .modelseven li:last-child{
	right: 0;
}

/*轮播按钮的布局设计*/
#modelfour .modeleight{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: auto;
	
	background-color: pink;
	display: flex;
	width: 210px;
	height: 30px;
	border-radius: 20px;
	
}
#modelfour .modeleight li{
	width: 20px;
	height: 20px;
	flex:1;
	border-radius: 10px;
	background-color: white;
	margin: 5px;
}
#modelfour .modeleight li.modelnine{
	background-color: red;
}
