.b01{
	position: absolute;
	width:1300px;
	height: 100px;
	
	left:50px;
	top:0;
	background: rgba(129,200,240,1.00);
}
.b02{
	position: absolute;
	width:1300px;
	height: 1400px;
	
	top:120px;
	left:50px;
	margin: 0 auto;
}
.b03{
	position: relative;
	
	margin: 0 auto;
	width:1400px;
	height: 1900px;
}

.b01 a{
	text-decoration: none;
}
.b01 ul li{
	list-style-type:none; 
	display: inline;
	
}
.b01 ul{
	text-align: center;
	font-size:30px;
	letter-spacing: 20px;
	font-weight: bold;
}
.b02 p{
	font-size: 25px;
	letter-spacing: 4px;
}
