nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
nav ul li a:hover{
	color :#FF0004;
}
.calligraphy01{
	position: relative;
	width:1500px;
	margin: 0 auto;
	height: 2000px;
}
.calligraphy02{
	position: absolute;
	text-align: center;
	width:1000px;
	height: 100px;
	right:0px;
}
.calligraphy03{
	position: absolute;
	top:250px;
	border:1px solid black;
	width: 400px;
	height: 500px;
	
}
.calligraphy04{
	margin: 0 auto;
	width: 200px;
	height: 100px;
}
.calligraphy05{
	margin: 0 auto;
	width: 120px;
	height: 40px;
}
.calligraphy06{
	position: absolute;
	top:150px;
	right: 100px;
	border:1px solid black;
	width: 800px;
	height: 800px;
	transition: all 1s;
}
.calligraphy07{
	position: absolute;
	height:  200px;
	width: 400px;
	
}
.calligraphy06 img:hover{
	transform: scale(1.15);
}
.calligraphy08{
	position: absolute;
	height:  200px;
	width: 400px;
	top:200px;
	
}
.calligraphy09{
	position: absolute;
	top:50px;
	left:250px;
	font-weight:bold;
	font-size: 30px;
}
.calligraphy10{
	position: absolute;
	height:  200px;
	width: 400px;
	top:400px;
	
}
.calligraphy11{
	position: absolute;
	height:  200px;
	width: 400px;
	top:600px;
	
}
.calligraphy12{
	position: absolute;
	height:  200px;
	width: 400px;
	top:0px;
	right:0;
	
}
.calligraphy13{
	position: absolute;
	height:  200px;
	width: 400px;
	top:200px;
	right:0;
	
}
.calligraphy14{
	position: absolute;
	height:  200px;
	width: 400px;
	top:400px;
	right:0;
	
}
.calligraphy15{
	position: absolute;
	top:1050px;
	border:1px solid black;
	width: 400px;
	height: 500px;
}
.calligraphy16{
	margin: 0 auto;
	width: 200px;
	height: 100px;
}
.calligraphy17{
	margin: 0 auto;
	width: 120px;
	height: 40px;
}
.calligraphy18{
	position: absolute;
	top:950px;
	right: 100px;
	border:1px solid black;
	width: 800px;
	height: 600px;
	transition: all 1s;
}
.calligraphy18 img:hover{
	transform: scale(1.15);
}